.RegForm{
    margin-left: 40%;
    max-width: 480px;
    text-align: center;
    margin-top: 10%;

    h1{
        display: inline-block;
    }

    img{
        width: 40px;
        height: 40px;
        display: inline-block;
    }

    input{
        display: inline-block;
        width: 350px;
        height: 20px;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
    }

    input[type=submit] { 
        padding-bottom: 25px;
        background:#227dde; 
        color: white;
        font-size: 15px;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
        width:100%;
    }
}

td:first-child{
    text-align: right;
}

@media screen and (max-width: 850px) {
    .RegForm{
        margin-left: 30%;
    }

    #submitButton{
        width: 80%;
    }
}

@media screen and (max-width: 750px) {
    .RegForm{
        margin-left: 20%;
    }
    #submitButton{
        width: 70%;
    }
}
@media screen and (max-width: 610px) {
    .RegForm{
        margin-left: 10%;
    }

    #submitButton{
        width: 60%;
    }
}

@media screen and (max-width: 550px) {
    .RegForm{
        margin-left:0%;
    }

    td{
        display:inline-block;  
    }
    tr:first-child{
        text-align: center;
    }

    #submitButton{
        width: 50%;
        background-color: red;
    }

}